<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body onload="getDataStart()" style="background-color: #fffcf1 ">
        <center>
            <div>
                <div>
                    <p id="weight_text">Вес, <span id="units">гр.</span></p>
                    <span id="weight" style="font-size: 256px; line-height: 128px;">NA</span>
                    <br/>
                    <br/>
                    <button class="clear_button" onclick="SetZeroPoint()">Обнулить</button>
                </div>
                <div>
                    <p id="title_menu_text">Единицы измерения</p>
                    <button class="button" onclick="ChangeSettings(false, null, null)">Граммы</button>
                    <button class="button" onclick="ChangeSettings(true, null, null)">Килограммы</button>
                </div>
                <br/>
                <div>
                    <details id="input_detail">
                        <summary id="input_summary">Испытания</summary>
                        <br/>
                        <br/>
                        <div style="width: 100%;">
                            <p class="stats_file_ref" id="file_name_debug"> Null </p>
                            <p class="stats_file_ref" id="file_pause_debug"> Null </p>
                            <p class="stats_file_ref"><span id="file_size_debug"></span></p>
                            <span></span>
                            <br/>
                            <input type="text" value="test" placeholder="Название: " id="standart_test_name"></input>
                            <input type="number" value="10" placeholder="Размер: " id="standart_test_size"></input>
                            <button class="test_button_update" onclick="SetNewTest(document.getElementById('standart_test_name').value, document.getElementById('standart_test_size').value)">Старт</button>
                            <span></span>
                            <br/>
                            <br/>
                            <br/>
                            <button class="test_button_main" onclick="ChangePause()">Пауза</button>
                            <button class="test_button_main" onclick="CloseTable()">Завершить</button>
                            <button class="test_button_update" onclick="GetFileList()">Обновить</button>
                            <br/>
                            <br/>
                            <br/>
                            <div id="list_files">
                            </div>
                            <span></span>
                        </div>
                    </details>
                </div>
                <span></span>
                <br/>
                <div>
                    <p id="title_menu_text">Настройки</p>
                    <!--<button class="button" onclick="sendGCODE('W1')">Калибровка</button>-->
                    <details id="input_detail">
                        <summary id="input_summary">Калибровка</summary>
                        <br/>
                        <br/>
                        <div style="width: 100%;">
                            <input type="number" value="0" placeholder="Базовый вес..." id="standart_weight_input"></input>
                            <span/>
                            <button class="button" onclick="SetCalibrationScales(document.getElementById('standart_weight_input').value)">Принять</button>
                            <p id="prompt_text"> 
                                Инструкция по выполнению калибровки.
                                <br/>
                                <br/>
                                1. Убрать все из чаши весов.
                                <br/>
                                2. Написать массу в соответсвующее поле ввода.
                                <br/>
                                3. Нажать на кнопку принять.
                                <br/>
                                4. В течении 10 секунд положить груз с данной массой на весы и дождаться результата калибровки (не касаясь весов и не кладя в них грузы).
                                <br/>
                                <br/>
                                P.S. При не соблюдении порядка действий работоспособность не гарантирована.
                            </p>
                        </div>
                    </details>
                    <br/>
                    <details id="input_detail">
                        <summary id="input_summary">Коэффициент</summary>
                        <br/>
                        <br/>
                        <div style="width: 100%;">
                            <input type="number" value="0" placeholder="Новый коэффицент..." id="coefficient_input"></input>
                            <span/>
                            <button class="button" onclick="SetCalibrationScales(null, document.getElementById('coefficient_input').value)">Принять</button>
                        </div>
                    </details>
                </div>
            </div>
        </center>
    </body>
</html>